{% extends 'base.html' %} {% import 'bootstrap/wtf.html' as wtf %} {% block
    content %}
    
    <div class="homeDiv">
      <div class="row justify-content-center register">
        <div class="col-md-10">

            <!-- TechSavy Blogposts -->
            <div id="tech" >
                {% if TechSavyPosts %}
                <h4> TechSavy Insights </h4>
                <hr>
                <p> {{TechSavyPosts.blogpost}} </p>
                <div>
                    <p>{{TechSavyPosts.comments}}</p>
                </div>
                {% endif %}
            </div>
      
        </div>
      </div>
    </div>
    
    {% endblock %}