{% extends 'base.html'%} {% import 'bootstrap/wtf.html' as wtf%} {% block
content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 blackBackground"></div>
    <div class="col-md-5 grayBackground forIpad">
      <div class="card">
        <h5 class="card-header">Topic title</h5>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a href="#" class="btn btn-outline-primary">Read more...</a>
        </div>
      </div>
    </div>
    <div class="col-md-5 grayBackground forIpad">
      <div class="card">
        <h5 class="card-header">Topic title</h5>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a href="#" class="btn btn-outline-primary">Read more...</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
        <div class="col-md-2 blackBackground"></div>
        <div class="col-md-5 grayBackground">
          <div class="card">
            <h5 class="card-header">Topic title</h5>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">
                With supporting text below as a natural lead-in to additional
                content.
              </p>
              <a href="#" class="btn btn-outline-primary">Read more...</a>
            </div>
          </div>
        </div>
        <div class="col-md-5 grayBackground">
          <div class="card">
            <h5 class="card-header">Topic title</h5>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">
                With supporting text below as a natural lead-in to additional
                content.
              </p>
              <a href="#" class="btn btn-outline-primary">Read more...</a>
            </div>
          </div>
        </div>
      </div>
</div>

{% endblock %}
