<!-- Navbar on every page -->
<!-- <div class="row"> -->
  <div class="col-md-2">
    <div class="sidebar">
      <div class="menu-list">
        <a class="" href="#home"
          ><i class="fa fa-fw fa-home"></i> Insights Today</a
        >
        <div class="nav-item dropdown" id="dropDown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            data-target="#topics"
            aria-haspopup="true"
            aria-expanded="false"
            ><i class="fa fa-fw fa fa-list-ol"></i>
            Topics
          </a>
          <ul class="sub-menu collapse" id="topics">
            <li class="dropdown-menu subMenu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">TechSavy</a>
              <p class="dropdown-divider"></p>
              <a class="dropdown-item" href="#">MoneySmart </a>
              <p class="dropdown-divider"></p>
              <a class="dropdown-item" href="#">Life & Laughter </a>
              <p class="dropdown-divider"></p>
            </li>
          </ul>
        </div>
        <div>
          <a href="#postsomething"
            ><i class="fa fa-fw fa-commenting"></i> Post Something</a
          >
          <a href="#myprofile"><i class="fa fa-fw fa-user"></i> Stl SuperG </a>
          <a href="#register"
            ><i class="fa fa-fw fa-pencil-square"></i> Register</a
          >
          <a href="#login"> <i class="fa fa-fw fa-sign-in"></i> Log in</a>
          <a href="#logout"> <i class="fa fa-fw fa-sign-out"></i> Log out</a>
        </div>
      </div>
    </div>
  
</div>
<!-- </div> -->
