<div class="sidebar">
  <a href="#home"><i class="fa fa-fw fa-home"></i> Insights Today</a>
  <a href="#topics"><i class="fa fa-fw fa-chevron-circle-down"></i> Topics</a>
  <a href="#postsomething"><i class="fa fa-fw fa-commenting"></i> Post Sometin</a>
  <a href="#myprofile"><i class="fa fa-fw fa-user"></i> Stl SuperG </a>
  <a href="#register"><i class="fa fa-fw fa-pencil-square"></i> Register</a>
  <a href="#login"> <i class="fa fa-fw fa-sign-in"></i> Log in</a>
  <a href="#logout"> <i class="fa fa-fw fa-sign-out"></i> Log out</a>
</div>

<div class="main">
  <h2>Insights Today</h2>
  <p>Consider to put random quotes here instead of at the bottom</p>
</div>
